@import url('../component/init/1.0.0/init.css');
/******************************************************
共用*/
/******************************************************
弹出窗口
@import url('https://admin.e-quanta.com/css/component/popupwindow/1.0.0/popupwindow.css');*/
@import url('../component/popupwindow/1.0.0/popupwindow.css');
/******************************************************
私有*/
@import url('../component/navigation-crumb/1.0.0/navigation-crumb.css');
@import url('../component/navigation-hori/1.0.0/navigation-hori.css');
@import url('../component/date-time-picker/1.0.0/date-time-picker.css');
html,body,#container{height: 100%;}

.top{
    background-color: black;
	height: 50px;
    border: 1px solid #e7e7e7;
	position: fixed; width: 100%;
	z-index: 100;
	display: table;
	    padding: 0 20px;
    box-sizing: border-box;
}

.top>div{
	vertical-align: middle;
}
.top span{
	color: #9d9d9d;
}

/*
右上角
*/

.top_left{
	display: table-cell;
}
.top_left>span{
	    font-size: 18px;
}
.top_right{
	display: table-cell;
	text-align: right;
}

.sign_out{
	
	margin-left: 10px;
	margin-right: 10px;
}
.login_user_head{
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
.top_right>* {
    vertical-align: middle;
}

/*
导航
*/
#left{
	width: 150px;
	overflow-x:hidden;
	overflow-y:auto; 
	border-right: 1px solid #eee;
	background-color: #f5f5f5;
	position: fixed;
    top: 51px;
    bottom: 0;
	left: 0;
	    padding: 0 20px 20px 20px;
	z-index: 998;
	box-sizing: border-box;
	width: 16%;
}


#right{
	overflow-x:auto;
	margin-left: 16%;
	width: 84%;
    padding: 51px 10px 10px 10px;
    box-sizing: border-box;
}

.navigation-multi-level-ul{


    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;


}

#navigation-crumb{padding: 10px 10px;}
#navigation-crumb>span:nth-child(1){line-height: 33px;}
#navigation-crumb button{
	/*font-size: 0.9em;*/

	margin: 0 10px;

}
.table{
}