@import url('../../css/common/reset.css');
@import url('../../css/common/common.css');

html,body,.container{
	height: 100%;
	width: 100%;
}
.container{
	text-align: center;
	/*background: url('images/404/404.png') no-repeat center 30%/20% auto;
*/
}
.img_404{

	width: 20%;
	margin-top: 30%;
}
.txt_404{

	color: #666666;
	margin-top: 20px;
}