@import url('../common/main.css');
#sub_content{padding: 20px;}

#title,#summary{width: 80%;}
/*
#other_outer{display: inline-block;text-align: left;}
*/
.form-input>span{width:150px;}
#commit-button{display: block;margin:100px auto;}
#con_span{line-height: 40px;
	display: inline-block;
margin-top: 20px;}

#kw_out{
	display: table;
	height: auto;
	width: 100%;
}
#kw_out>span{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 150px;
}
#kw_out>div{
	display: inline-block;
	
}
#kw_out .keyword{
	display: inline-block;
	height: 30px;
	box-sizing:border-box;
	width: auto;
	border: 1px solid #999;
	color: #999; 
	line-height: 28px;
	padding:0 0.5em 0 1em;
	margin:0.2em 1em 0.2em 0; 
}
#kw_out .keyword>span::before{
	content:"\2212";
	color: red;
}
#add_kw_outer{
	margin-top: 0.5em;
}
#add_kw_input{
	display: inline-block;
	padding-right: 2em;
}
#add_kw_btn{
	position: relative;
	border: none;
	width: 2em;
	text-align: center;
	left: -2em;
	top: -1px;
}
#add_kw_btn::before{
	content:"\2b";
	color: blue;
}
#edit{/*width: 50em;*/}

#add_file_btn::before{

}
#check_time_outer>span{
	width: auto;
}
#add_file_outer{
	display: table;
	width: 100%;
}
#add_file_outer>*{
	display: table-cell;
}
.add_file_box {
	position: relative;
	display: inline-block;
	padding:1em; 
	border: 1px solid #ccc;
}
.add_file_box>div:first-child{
	text-align: right;
}
.add_file_box>div:first-child>button{
	margin-bottom: 1em;
}

.add_file_box .form-input{
	margin-top: 0;
}
.add_file_box .form-input>span{
	width: 4em;
}
.add_file_box .form-input>input{
	width: 30em;
}
#add_file_btn{
	margin-top: 1em;
	display: block;
}
/*删除封面*/
#dele_cov_img{
	position: relative;
	left: -20px;
	top: 20px;
}
.add_comment_wrap{
	width: 500px;
	padding:10px;
	border: 1px solid rgb(192, 192, 192); 
	margin: 10px auto;
}
.add_comment_wrap>*{
	margin: 5px 0;
}
.add_comment_t{
	width: 100%;
	height: 500px;
}
.add_comment_w>*{
	vertical-align: middle;
}
#add_comment_b{
	display: block;
	margin: auto;
}
.author_result{
	width: 500px;
	position: relative;
	background-color: white;
	
	z-index: 1;
	border: 1px solid gray;
	box-sizing: border-box;
	display: none;
}
.author_result>li{
	cursor: pointer;
	height: 22px;
	overflow: hidden;
}
.author_result_v{
	display: inline-block;
	width: 50px;
	color: #0064b4;
	text-align: center;
}
.author_wrap{
	height: 30px;
}
.select_author_wrap{
	display: inline-block;
}
.author_wrap > span {
    vertical-align: top !important;
}
.author_result>li>span:nth-child(3){
	font-size: 0.9em !important;
	color: gray;
}






#subject_article{
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	text-align: left;
	border: 1px solid gray;
	padding: 10px;
}
#subject_article>div:nth-child(1){
	float: left;width: 50%;
	padding-right: 5px;
box-sizing: border-box;
	min-height: 100px;
}
#subject_article>div:nth-child(2){float: left;width: 50%;
	padding-left: 5px;
box-sizing: border-box;
	min-height: 100px;
}
.include_list_title,.all_list_title{
	height: 30px;
	line-height: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}
#search_input {
    width: auto;
}