@import url('../common/main.css');
#paging-outer{ text-align: center; padding: 50px;}
#edit_area {
    width: 700px;
    margin: auto;
}
.content,.requirements{

    height: 400px;
    width: 400px;
}