@import url('../common/main.css');
#right{text-align: center;}
#navigation-crumb{text-align: left;}
#edit-area{margin: auto;display: inline-block;text-align: left;}
#confirm-outer{text-align: center;margin-top: 50px;}
.form-input>input{
	width: 500px;

}
#cover_image_input {
    /*display: none;*/
}


.tag_wrap{
	display: table;
	height: auto;
	width: 100%;
}
.tag_wrap>span{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 150px;
}
.tag_wrap>div{
	display: inline-block;
	
}
.tag_wrap .keyword{
	display: inline-block;
	height: 30px;
	box-sizing:border-box;
	width: auto;
	border: 1px solid #999;
	color: #999; 
	line-height: 28px;
	padding:0 0.5em 0 1em;
	margin:0.2em 1em 0.2em 0; 
}
.tag_wrap .keyword>span::before{
	content:"\2212";
	color: red;
}
.add_tag_wrap{
	margin-top: 0.5em;
}
.add_tag_input{
	display: inline-block;
	padding-right: 2em;
}
.add_tag_btn{
	position: relative;
	border: none;
	width: 2em;
	text-align: center;
	left: -2em;
	top: -1px;
}
.add_tag_btn::before{
	content:"\2b";
	color: blue;
}