@import url('../component/init/1.0.1/init.css');

/******************************************************
main css
*/
body{

}
.container{
	width: 100%;
	margin: auto;
}
/******************************************************
header外层
*/
header{
	width: 100%;
	font-size: 0;
	height: 10%;
	position: fixed;
	top: 0;
	z-index: 2;
	min-width: 800px;
	display: table;
}
.center{

}
/*顶部logo*/
header>div:nth-child(1){
	width: 20%;
	font-size: 0;
}
header>div:nth-child(1)>a{
	font-size: 0;
	display: inline-block;
	width: 60%;
	max-width: 185px;
	/*background: url("../../images/home/logo.png") 0 0/100% auto no-repeat;
	*/
}
header>div:nth-child(1)>a>img{
	width: 100%;
}
/*导航部分*/
#navigation_ul{
	width: 50%;
	float: left;margin-left: 5%;
	height: 100%; 
	overflow: hidden;
	text-align: left;
}
#navigation_ul>li{ 
	height: 100%;
	padding: 0 1em;
}
#navigation_ul>li:nth-child(1){
	width: 20%;
}
#navigation_ul>li:nth-child(2){
	width: 20%;
}
#navigation_ul>li:nth-child(3){
	width: 30%;
}
#navigation_ul>li:nth-child(4){
	width: 30%;
}
.navigation-hori a{
	font-size: 0.9em;
	transition:all 0s;
	color: rgba(255,255,255,0.9);
	vertical-align: top;
}
a.cl_wt{
	color: rgba(255,255,255,0.8);
}
.top_black>#navigation_ul>li>a,a.cl_bc{
	color: rgba(0,0,0,0.5);
}

#navigation_ul>li>a:hover{
	color:#BD9560;
	color:rgb(199,171,146); 
	font-size: 1.1em; 
}
.navigation_hover{
 color:#48bc7a; font-weight: normal;
}
/*顶部右边*/	
.top>div:nth-child(3){
	min-width: 15em;
	height: 100%; 
	vertical-align: middle;
	width: 20%;
	text-align: center;
}
/*
.top>div:nth-child(3)>span:nth-child(1){vertical-align: middle;display: inline-block;height: 100%;}
*/
#write_btn_top{
	line-height: 70px;
	padding: 5px 0 5px 40px;
	background:  url("../../images/home/write_btn.png") 0px 7px no-repeat;
}
header>div:nth-child(3)>a{
	color: rgba(200,200,200,0.8);
	font-size: 0.9em;
	white-space: nowrap;
}
header>div:nth-child(3)>a:not(:nth-child(1)){
	margin-left: 10%;
}
#user_head{width: 40px;height: 40px;vertical-align: middle; border-radius: 20px;
	margin-left: 10px;}
header>div:nth-child(3)>div:nth-child(2){display: inline-block;position: relative;
padding: 10px 0;}
#quit_button{
	font-size: 15px; line-height: 30px;
	background-color: rgb(100,100,100);
	color: white;
	cursor: pointer;
	position: absolute;right: 0;top: 60px;
	display: inline-block;
	width: 50px;text-align: center;
	z-index: 2;
}
header>div:nth-child(3)>a:nth-child(2)>button{ 
	border: 1px solid #48bc7a; background-color: white; color: #48bc7a; 
	margin-left:20px;font-size: 15px;vertical-align: middle;
}
.color_font{color: #48bc7a;}


/******************************************************
底部copy样式
*/
footer{
	background: url("../../images/home/foot_bac.png") no-repeat 0 0 /100% 100%;
	display: table;
	width: 100%;
	height: 40%;
}
footer>*{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 3% 0;
}
footer>div:nth-child(1){
	width: 20%;
}
footer>div:nth-child(2){
	text-align: left;
	width: 60%;
}
footer>div:nth-child(2)>div{
	display: inline-block;
	border-left: 1px solid white;
	padding: 4%;
}
footer>div:nth-child(2)>div>h3{
	color: rgb(199,171,146);
	font-size: 1em;
	line-height: 2.3em;
}
footer>div:nth-child(2)>div *{
	font-size: 0.9em;
	color: rgb(255,255,255);
}
footer>div:nth-child(2)>div>p:nth-child(2)>span:nth-child(2){
	margin-left: 4em;
}
/******************************************************
右侧qrcode
*/
.right_arrow{
	position: fixed;
	top: 37%;
	width: 38px;
	right: 0;
	font-size: 0;
	z-index: 3;
}
.right_arrow>img{
	cursor: pointer;
	width: 100%;
	display: block;
	width: 38px;
}
.right_arrow>img:nth-child(2){
	margin-top: 4px;
}
/*二维码图*/
.r_qr_code{
	position: absolute;
	width: 330px;
	right: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 20px;
}
.r_qr_code>div:nth-child(1){
	height: 40px;
	background-color: black;
	text-align: center;
	line-height: 40px;
	color: rgb(199,171,146);
}
.r_qr_code>div:nth-child(2){
	text-align: center;
}
.r_qr_code>div:nth-child(2)>div{
	display: inline-block;
}
.r_qr_code>div:nth-child(2)>div:nth-child(2){
	margin-left: 20px;
}
.r_qr_code>div:nth-child(2)>div>p{
	color: rgb(199,171,146);
	line-height:2.5em;
	font-size: 0.9em;
}
.r_qr_code>div:nth-child(2)>div>img{
	width:120px;
}
/******************************************************
文章列表底线
*/
.bottom_line{
	width: 100%;
	height: 1px; 
	background-color: rgb(199,171,146);
	position: relative;
	margin-top: 5%;
}
.bottom_line>span{
	position: absolute;
	display: inline-block;
	top: -8px;
}
.bottom_line>span:first-child{
	left: 0;
	border-top: 8px solid transparent;
    border-left: 16px solid rgb(199,171,146);
    border-bottom: 8px solid transparent;
}
.bottom_line>span:nth-child(2){
	left: 45%;
	width: 10%;
	background-color: #ededed;
	color:rgb(199,171,146);
}
.bottom_line>span:last-child{
	right: 0;
	border-top: 8px solid transparent;
    border-right: 16px solid rgb(199,171,146);
    border-bottom: 8px solid transparent;
}
/******************************************************
右侧广告
*/
.advertisement{
	width: 22%;
	margin-left: 1.5%;
	display: inline-block;
	vertical-align: top;
}
.advertisement>img{
	width: 100%;
}
/******************************************************
banner区域
*/
.banner{
	width: 100%;
	font-size: 0;
	position: relative;
}
.banner>img{
	width: 100%;
}
.banner_text_box{
	position: absolute;
	width: 35%;
	height: 32%;
	top: 40%;
	left: 35%;
	text-align: center;
}
.banner_text_box>div{
	vertical-align: middle;
	display: inline-block;
	box-sizing:border-box;
}
.banner_text_border{
	width: 10%;
	height: 100%;
	border-color: rgb(199,171,146);
	border-style: solid;
}
.banner_text_box>div:nth-child(2){
	width: 80%;
}
.banner_text_box>div:nth-child(2)>*{
	color: rgb(199,171,146);
}
.banner_text_box>div:nth-child(2)>h1{
	font-size: 2.1em;
	letter-spacing: 2px;
}
.banner_text_box>div:nth-child(2)>p{
	font-size: 1.1em;
	color: rgb(125,125,125);
}
.banner_text_box>div:nth-child(1){
	border-width: 5px 0 5px 5px;
}
.banner_text_box>div:nth-child(3){
	border-width: 5px  5px 5px 0;
}
/******************************************************
文章最外层  主要列表区域
文章列表样式 
*/
/*文章最外层*/
.article_wrap{
	width: 70%;
	display: inline-block;
}
/*文章盒子*/
.article_box{
	background-color: white;
	padding: 10px 20px 20px 20px;
	margin-bottom: 20px;
}
.article_box>a{
	width: 100%;
	text-align: left;
	height: 100%;
	display: table;
}
.article_box>a>div{
	display: table-cell;
	vertical-align: middle;
}
.article_box>a>div:nth-child(1){
	/*width: 75%;*/
}
.article_box_h{
	border-bottom: 1px solid #ededed;
	padding-bottom: 10px;
	display: table;
	width: 100%;
}
.article_box_h>div{
	display: table-cell;
	vertical-align: middle;
}
.article_box_h>div:nth-child(1)>img{
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.article_box_h>div>*{
	vertical-align: middle;
}
.article_box_h>div:nth-child(2){
	text-align: right;
}
.article_box>a>div:nth-child(1)>p,
.article_box_h>div:nth-child(1)>span:nth-child(3),
.article_box_t{
	color: #8e8e8e;
}
/*名字*/
.article_box_n{
	background:url("../../images/select/big_v.png") no-repeat right center/16px auto;
	padding-right:18px;
	margin: 0 10px;
}
/*日期*/
.article_box_t{
	margin-right: 0;
}
/*标题*/
.article_box>a>div:nth-child(1)>h2{
	font-size: 1.6em;
	font-weight: 200;
	line-height: 1.5em;	
	margin: 8px auto;
	color: black;
}
/*图片*/
.article_box>a>div:nth-child(2){
	text-align: right;
	font-size: 0;
	padding: 0 1px 0 20px;
	width: 16%;
}