@import url('../component/init/1.0.1/init.css');
/******************************************************
article_block*/
/*文章外层块*/
.article_block{ width: 60%;display: inline-block;background-color:white;
	margin: 10px auto;
padding:22px 30px 35px 30px;}
.article_block>div{width: 100%;
	 text-align: left;}
.article_block>div>div{display: table;width: 100%;}
.article_block>div>div>div{vertical-align: middle;display:table-cell;}
.article_block>div>div>div:nth-child(1){width: 80%; }
.article_block>div>div>div:nth-child(1)>h2{font-size: 18px;}
.article_block>div>div>div:nth-child(1)>p:nth-child(2){line-height: 23px;
	color: #666666;font-size: 14px;height: 46px;
text-overflow:ellipsis;overflow: hidden;}
.article_block>div>div>div:nth-child(2){text-align: right;}
/*封面图*/
.article_block>div>div>div:nth-child(2)>img{vertical-align: middle;
	outline: 4px solid rgb(242,242,242);width: 80%;}
	
/******************************************************
author_like*/
/*作者+点赞  外部*/
.author_like{margin-top: 10px;}
.author_like span{vertical-align: middle;color: #666666;font-size: 14px;}
.author_like>span{}
/*点赞*/
.author_like>div{display: inline-block;float: right;}
/*点赞图标*/
.author_like>div>img{vertical-align: middle;height: 14px;margin: 0 5px 0 20px;}


/******************************************************
main css
*/
body{}
.container{
	width: 100%;
	margin: auto;
}
/******************************************************
header外层
*/
header{
	width: 100%;
	font-size: 0;
	height: 10%;
	position: fixed;
	top: 0;
	z-index: 2;
	min-width: 800px;
	display: table;
}
.center{

}
/*顶部logo*/
header>div:nth-child(1){
	width: 20%;

}
header>div:nth-child(1)>a{
	font-size: 0;
	display: inline-block;
	width: 60%;
	max-width: 185px;
	/*background: url("../../images/home/logo.png") 0 0/100% auto no-repeat;
	*/
}
header>div:nth-child(1)>a>img{
	width: 100%;
}
/*导航部分*/
#navigation_ul{
	width: 50%;
	float: left;margin-left: 5%;
	height: 100%; 
	overflow: hidden;
	text-align: left;
}
#navigation_ul>li{ 
	height: 100%;
	padding: 0 1em;
}
#navigation_ul>li:nth-child(1){
	width: 20%;
}
#navigation_ul>li:nth-child(2){
	width: 20%;
}
#navigation_ul>li:nth-child(3){
	width: 30%;
}
#navigation_ul>li:nth-child(4){
	width: 30%;
}
.navigation-hori a{
	font-size: 0.9em;
	transition:all 2s;
	color: rgba(255,255,255,0.9);
}
a.cl_wt{
	color: rgba(255,255,255,0.8);
}
.top_black>#navigation_ul>li>a,a.cl_bc{
	color: rgba(0,0,0,0.5);
}

#navigation_ul>li>a:hover{
	color:#BD9560; 
	font-size: 1.2em; 
}
.navigation_hover{
 color:#48bc7a; font-weight: normal;
}
/*顶部右边*/	
.top>div:nth-child(3){
	min-width: 15em;
	height: 100%; 
	vertical-align: middle;
	width: 20%;
	text-align: center;
}
/*
.top>div:nth-child(3)>span:nth-child(1){vertical-align: middle;display: inline-block;height: 100%;}
*/
#write_btn_top{
	line-height: 70px;
	padding: 5px 0 5px 40px;
	background:  url("../../images/home/write_btn.png") 0px 7px no-repeat;
}
header>div:nth-child(3)>a{
	color: rgba(200,200,200,0.8);
	font-size: 0.9em;
	white-space: nowrap;
}
header>div:nth-child(3)>a:not(:nth-child(1)){
	margin-left: 10%;
}
#user_head{width: 40px;height: 40px;vertical-align: middle; border-radius: 20px;
	margin-left: 10px;}
header>div:nth-child(3)>div:nth-child(2){display: inline-block;position: relative;
padding: 10px 0;}
#quit_button{
	font-size: 15px; line-height: 30px;
	background-color: rgb(100,100,100);
	color: white;
	cursor: pointer;
	position: absolute;right: 0;top: 60px;
	display: inline-block;
	width: 50px;text-align: center;
	z-index: 2;
}
header>div:nth-child(3)>a:nth-child(2)>button{ 
	border: 1px solid #48bc7a; background-color: white; color: #48bc7a; 
	margin-left:20px;font-size: 15px;vertical-align: middle;
}
.color_font{color: #48bc7a;}


/******************************************************
底部copy样式
*/
footer{
	background: url("../../images/home/foot_bac.png") no-repeat 0 0 /100% 100%;
	/*
	text-align: center;
	color: white;
	background-color: rgb(47,54,62);
	font-size: 13px;
	*/
	display: table;
	width: 100%;
	height: 40%;
}
footer>*{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 3% 0;
}
footer>div:nth-child(1){
	width: 20%;
}
footer>div:nth-child(2){
	text-align: left;
	width: 60%;
}
footer>div:nth-child(2)>div{
	display: inline-block;
	border-left: 1px solid #5e5e5e;
	padding: 4%;
}
footer>div:nth-child(2)>div>h3{
	color: #BD9560;
	font-size: 1em;
	line-height: 2.3em;
}
footer>div:nth-child(2)>div *{
	font-size: 0.9em;
	color: rgba(255,255,255,0.7);
}
footer>div:nth-child(2)>div>p:nth-child(2)>span:nth-child(2){
	margin-left: 4em;
}

/*右侧qrcode*/
.right_arrow{
	position: fixed;
	top: 37%;
	width: 4%;
	right: 0;
	font-size: 0;
}
.right_arrow>img{
	cursor: pointer;
	width: 100%;
	display: block;
}
.right_arrow>img:nth-child(2){
	margin-top: 4px;
}


