@import url('../common/main.css');
#right{text-align: center;}
#navigation-crumb{text-align: left;}
#edit-area{display: inline-block;text-align: left;}
#confirm-outer{text-align: center;margin-top: 50px;}
.form-input>*{
	vertical-align: middle;
}
.ad_pos_txt{
	
	margin-left: 20px;
	
}
.ad_pos_num{
	width: auto;
}
.ad_pos_wrap>span:nth-child(n+2){
	font-weight: normal !important;
	width: auto !important;
}
#paging{
	text-align: center;
}
#recommend_list_wrap,#type_img_wrap {
    margin-left: 40px;
	border: 1px solid #ccc;
	padding: 10px;
}
