/*id 必须是  navigation */

#left-content{width: 250px;float: left;}
#right-content{margin-left: 250px;padding: 0 10px;}
#navigation{font-size: 14px;border-right: 1px solid black;width: 100%;}

#title{padding: 10px 50px;}

#title>span:nth-child(1){line-height: 33px;}
#title>button:nth-child(4){float: right; }