
@import url('../common/main.css');
#sub-content{border:1px solid rgb(229,229,229);text-align: center;}

#edit_article_outer{width: 80%;margin:10px auto;text-align: left; }
#title,#summary{width: 100%;}

#other_outer{display: inline-block;text-align: left;}
.form-input>span{width:150px;}
.upload_preview>div{float: left;}
.upload_preview>img{float: left;margin: 20px;width: 300px;}

#commit-button{display: block;margin:100px auto;}