@import url('../common/main.css');
#sub_content{padding: 20px;}

#title,#summary{width: 80%;}
/*
#other_outer{display: inline-block;text-align: left;}
*/
.form-input>span{width:150px;}
#commit-button{display: block;margin:100px auto;}
#con_span{line-height: 40px;
	display: inline-block;
margin-top: 20px;}
