@import url('../common/main.css');
#paging-outer{text-align: center;margin-top: 50px;}
#table_body>tr>td:nth-child(15){min-width: 80px;}
#search_outer>button{margin-right: 20px;}
#title_input{width: 200px;}
#author_input,#uploader_input,#article_type,#keyword_input{
	width: 100px;
}
#search_outer>.form-input{
	
}
#search_outer>.form-input>span{
	width: auto;
	margin:0 1em;
}
th.creattime {
    min-width: 80px;
}
th.collectnum,th.sharenum,th.browsesnum,th.goodnum  {
    min-width: 50px;
}
.listorderitem{
	background-color: transparent;
	cursor: pointer;
}

.listorderitem:hover{
	background-color:#eee;
}

.listorderdown,.listorderup{

background:#eee no-repeat right center/auto 15px;

}


.listorderdown{

	background-image:url('../../images/listorderarrowdown.png');

}
.listorderup{

	background-image:url('../../images/listorderarrowup.png');

}
