@import url('../common/main.css');
#edit-area{width: auto; margin: auto;}


.form-input>span{}
.form-input>textarea{width: 100%;}
#cho_push_time{margin: 15px 0;  }
#confirm-button{display: block;margin: auto;}

