@import url('../common/main.css');
#right{text-align: center;}
#navigation-crumb{text-align: left;}
#edit-area{

}
#confirm-outer{text-align: center;margin-top: 50px;}
.form-input>span{display: block;}

textarea{
	width: 500px; height: 200px;
}