@import url('../component/init/1.0.1/init.css');
/******************************************************
可能引用跨域外部组件*/
/******************************************************
@import url('https://admin.e-quanta.com/css/component/popupwindow/1.0.0/popupwindow.css');
弹出窗口*/


/*顶部 banner  导航**************************************************/

.banner{
	width: 100%; 
	height: 610px;
	/*background: url('../../images/home/banner_1.jpg') no-repeat center center/ cover;*/
	position: relative;
	text-align: center;
}

.banner_top{
	position: fixed;top: 0;
	z-index: 2;
	height: 50px;width: 100%;
	background-color: black;
	box-sizing: border-box;
	text-align: left;
}
.banner_top>*{
	vertical-align: middle;
}
.banner_top>a:nth-child(1){
	margin-left: 11%;
	height: 100%;
}
.banner_top>a:nth-child(1)>img{
	height: 100%;
}
.search_btn{
	margin-left: 10%;
	border-radius:10px 0 0 10px;
}
.search_btn:hover{
	background-color: rgba(255,255,255,0.2);
}
.search_btn::before{
	content: "\f002";
	font-size: 0.9em;
}
.search_input{
	text-indent: 0;
	border-radius: 0 10px 10px 0;
	color:rgb(153, 153, 153);
}
.search_btn,.search_input{
	border: none;
	background-color: rgba(255,255,255,0.2);
	height: 36px;
	display: none;
}
.nav_box{
	position: absolute;
	top: 5px;
	right: 10%;
	box-sizing: border-box;
	height: 40px;
	text-align: right;

}
.navbox_width{
	width: 55%;
}
.nav{
	display: none;
	background-color: white;
	height: 100%;
	float: left;
}
.nav>li{
	display: inline-block;
	height: 100%;
}
.nav>li>a{
	font-size: 13px;
	height: 100%;
	vertical-align: middle;
	line-height: 40px;
	padding: 0 15px;
}
.nav_active{
	border: none;
	background-color: white;
	color: black;
	width:40px;
 	height:100%;
	vertical-align: middle;
	padding: 0;
}
.nav_active::before{
	content: "\f0c9";
	color: #68cde9;
}
.color_white{
	background-color: white;
}
.color_transparent{
	background-color: transparent;
}

/*banner图片组*/
.banner_img_group{
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner_img_box{
	overflow: hidden;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black no-repeat center center/ cover;
}
.banner_img_box>.banner_title{
	margin-top: 180px;
	font-size: 42px;
	font-weight: 100;
}

.gradient_font{

	font-size: 36px;
/*	font-weight: 400 !important;*/
	display: block;
	background: -webkit-linear-gradient( left,#31bbeb,#4dbb7c);
	background: -o-linear-gradient( left,#31bbeb,#4dbb7c); 
	background: -moz-linear-gradient( left,#31bbeb,#4dbb7c); 
	background: linear-gradient( left,#31bbeb,#4dbb7c);
	-webkit-background-clip: text;
	color: transparent;

}

/*地址+copyright+图片外部***********************************************/
.footer{
	width: 80%;
	background-color: black;
	padding: 0 10%;
}
.footer_box{
	display: table;
}
.footer_box>div{
	display: table-cell;
}
.footer_box>div:nth-child(1){
	width: 70%;
}
.footer_box>div:nth-child(2){
	width: 30%;
}
.footer_box>div:nth-child(1)>div:nth-child(1){
	padding: 2em 0;
}
.footer_box>div:nth-child(1)>div:nth-child(1)>div{
	display: inline-block;
	width: 23.5%;
	vertical-align: top;
}
.footer_box>div:nth-child(1)>div:nth-child(1)>div:not(:nth-child(1)){
	margin-left:2%;
}
.footer_box>div:nth-child(1)>div:nth-child(2){
	width: 100%;
	border-top: 1px solid #333;
	padding: 20px 0;
	text-align: center;
}
.footer_box>div:nth-child(1)>div:nth-child(2)>span{
	
	white-space: nowrap;
}
.footer_box .to_beian,.footer_box>div:nth-child(1)>div:nth-child(2)>span{
	margin: 0 15px;
}
.footer_box>div:nth-child(1)>div:nth-child(2)>span:nth-child(2){
	text-align: right;
}
.footer_box>div:nth-child(2){
	vertical-align: middle;
	text-align: center;
}
.footer_box h3{
	color:rgb(42, 209, 215);
	margin-bottom: 2em;
	font-size: 16px;
}
.footer_box p,.footer_box span{
	font-size: 12px;
	color: rgb(114, 114, 114) !important;
}
.footer_box .to_beian{
	font-size: 12px;
	color: rgb(98, 197, 226);
}








@media(max-width:600px) {
	.banner{
 		height: 250px;
 	}
	.footer_box h3 {
    	font-size: 0.8em;
    	margin-bottom: 5px;	
	}
	.footer_box > div:nth-child(2){
		display: none;
	}
	.footer_box > div:nth-child(1) > div:nth-child(2) > span {
    	display: inline-block;
	}
	.footer_box > div:nth-child(1) > div:nth-child(2){
		text-align: center;
	}
	.banner_img_group {
    	height: 250px;
	}
	/*
	.banner_top{
		position: static;
		background-color: gray;
	}
	.nav_box{
		top: 0px;
	    height: 50px;
	    width: 100%;
		left: 0px;
		overflow: hidden;
	}
	.banner_top > a:nth-child(1) {
	    margin-left: 11%;
	    height: 30px;
	    position: absolute;
	    top: 70px;
	    z-index: 2;
	}
	.nav {
	    display: block;
	    width: 1000px;
	    text-align: left;
	    height: 50px;
	    background-color: rgb(99,99,99);
	    padding: 10px 0;
		box-sizing: border-box;
	}
	.nav_active {
		display: none;
	}
	.nav > li{
		width: 83px;
		text-align: center;
		border-right: 1px solid white;	
	}
	.nav > li > a{
		line-height: 30px;
		color: white;
		padding: 0;	
	}
	.nav > li:nth-child(1){
		position: absolute;
		height: 30px;
		background-color: rgb(99,99,99);
		z-index: 1;
	}
	.nav > li:nth-child(n+2){
		position: relative;
		left: 84px;
		transition:left 1s;
	}
	*/
	.navbox_width {
    	width: 80px;
	}
	.nav_box {
	    position: absolute;
	    right: 0;
	    height: 40px;
	    width: 70px;
	}
	.nav {
	    background-color: white;
	    width: 100%;
	    position: absolute;
	    top: 40px;
	    height: auto;
	    text-align: center;
	}
	.nav_active {
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    float: left;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.nav > li {
	    display: block;
	    padding: 2px 0;
	}
	.nav > li > a {
	    line-height: normal;
	    padding: 0;
	}



	.banner_img_box > .banner_title {
	    margin-top: 85px;
	    font-size: 30px;
	}
	.footer_box > div:nth-child(1) > div:nth-child(1) > div {
	    width: 48%;
	    margin: 20px 0;
	}
	.footer_box > div:nth-child(1) > div:nth-child(1) > div:nth-child(2n) {
		margin-left: 2%;   	
	}
	.footer_box > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
	    margin-left: 0%;
	}
	.footer_box > div:nth-child(1) > div:nth-child(1) {
	    padding: 10px;
	}
	.footer_box > div:nth-child(1) {
	   
	}
	.footer {
	    width: 96%;
	    padding: 0 2%;
	}

}




