@charset "utf-8";

/**============================
color
==============================*/
$darkBlue: #0b0e1f;
$lightBlue: #313743;
$lightGray: #cccccc;
$darkGray: #7e7e7f;
$tagGray: #56595e;

$red: #ff3b30;
$yellow: #feb800;
$blue: #007aff;

$border-color: #545864;
$border-light: #e1e1e1;
$border-blue: #5bc4dd;
$text-color: #ecebe9;

