@charset "utf-8";
@import "_css3lib";
@import "_anim";

// flex布局
.box { @include flexBox(); }
.boxItem { @include flexItem(1); }
//  字体
.font-en { font-family: Arial; }
/**============================
color-class
==============================*/
.white { color: #fff; }
.red { color: #fa4431; }
.blue { color: #089fe6; }
.light-gray { color: $lightGray; }
.gray { color: $darkGray; }

.bg-gray{background-color: #f0f0f0;}
/**============================
容器
==============================*/
.bg-layer { position: absolute; left: 0; top: 0; right: 0; bottom: 0;  z-index: -1; }
.main-wrap { max-width: 700px; margin-left: auto; margin-right: auto; }
/**============================
提示层
==============================*/
.alert-box { position: fixed; width: 100%; top: 50%; @include transform(translateY(-50%)); text-align: center; @include animation(fadeOut 1 2s 1s ease-out both); z-index: 2000; pointer-events: none; }
.alert-warning { display: inline-block; background-color: rgba(0, 0, 0, .85); padding: 5px 15px; color: #fff; border-radius: 5px; }
/**============================
media-query
==============================*/
@media screen and (min-width: 600px) {
    html { font-size: 20px; }
    }



