@charset "utf-8";
@import "../common/_css3lib.scss";

.agreement-box { background-color: #f8f8f8; border-top: 3px solid #52d7bb; padding: 10px; text-align: justify; word-break: break-all; line-height: 1.5; color:#4A4A4A;
    p { margin-bottom: 10px; }
    h6 { font-weight: bold; margin: 25px 0 10px 0; font-size: 16px; }
    ul { margin-left: 5px; }
    }