
.form-input{display:block;margin-top: 20px;}
.form-input span{ 
/*label宽度*/
	width: 110px;
	text-align: left;
	display: inline-block; 
	 }
input[type="text"],select{
	border: 1px solid rgb(0,162,202); 

/*高度*/
	height: 30px;
/*input宽度*/
	width: 200px;

}
.form-input>label{margin-left: 10px;}
.form-input>label:hover{cursor: pointer;}
input[type="text"]:focus,select:focus{border-color: orange;}

