/*id 必须是  navigation */
*{padding: 0;margin: 0;border: none;}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
  src: url('../../bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
a{text-decoration: none;color: black;}
a:hover{}
li{list-style: none;}

#navigation{font-size: 14px;border-right: 1px solid black;}

/*div 无链接   a 有链接*/
#navigation div{cursor: default;}
#navigation a{cursor: pointer;}
/*1级导航*/
#navigation>li{}
#navigation>li>a,#navigation>li>div{background-color: rgba(0,0,0,0.1);padding-left:30px;box-sizing:border-box;}
/*2级导航*/
#navigation>li>ul{}
#navigation>li>ul>li{}
#navigation>li>ul>li>a,#navigation>li>ul>li>div{background-color: rgba(0,0,0,0.05);padding-left:50px;box-sizing:border-box; }
/*3级导航*/
#navigation>li>ul>li>ul{}
#navigation>li>ul>li>ul>li{}
#navigation>li>ul>li>ul>li>a{background-color: rgba(0,0,0,0.01);padding-left:70px;box-sizing:border-box; }
/*块状导航  margin     非块状可用pading*/
#navigation a,#navigation div{padding: 5px 0; display: inline-block; width: 100%;}

/*所有导航前的  伪元素*/
#navigation a::before,#navigation div::before{
	font-family: 'Glyphicons Halflings';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	content: "\e135";
	vertical-align: bottom;
	padding-right:3px;
}



