@import url('../common/main_layout.css');
@import url('../common/main_style.css');

#contact_outer{position: relative;}
#main_back{  width: 100%; }

#main_text{position: absolute; top: 25%; left: 20%; }
#main_text>p:nth-child(2){margin-top: 30px;}







