@import url('../common/main.css');
@import url('../common/bottom_copy.css');
#contact_outer{position: relative;font-size: 0;}
#main_back{  width: 100%; }
.color_font{color: #48bc7a;}
#contact_text{position: absolute; top: 25%; left: 20%;}
#contact_text>p{margin: 15px 0;}
#contact_text>p:nth-child(2){margin-top: 30px;}
#contact_text>p:nth-child(3)>span:nth-child(3){margin-left: 100px;}






