/*id 必须是  navigation */
*{padding: 0;margin: 0;border: none; font-size: 13px;}

a{text-decoration: none;color: black;}
li{list-style: none;}

h4{line-height: 30px;font-size: 16px;}

a.disable {
   pointer-events: none;
   cursor: default;
}

td.disabled{
	background-color: rgb(240,240,240);
	color:rgb(150,150,150);
}


