@import url('../common/main.css');
#right-center>div{width: 70%;margin:10px auto;}
#activedate{}
#commit-button{display: block;margin:40px auto 200px;}
#summary,#title{
	width: 100%;
	height: 140px;
}


