<!doctype html>
<html ng-app="ngApp">
<head lang="zh-cn">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7;IE=8;IE=9;IE=edge,chrome=1" />
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta id="page_main" data-main="ad_edit">
<link rel="stylesheet" href="../css/page/ad_edit.css">
<title>一匡后台-广告位编辑</title>
</head>

<body>
<div id="container">
	<div id="top"></div>
	<div id="left">
	</div>
	<div id="right">
		<div id="navigation-crumb" class="navigation-crumb">
			<span></span><span></span><span></span>
		</div>
		<form id="edit-area">
			
			<label class="form-input"><span>广告位名称:</span><input type="text" placeholder="名称" id="name" required></label>
			<div class="form-input">
				<span>广告位类型</span>
				<select ng-model="adType"><option value="1">作者推荐</option><option value="2">文章推荐</option><option value="3">专题推荐</option><option value="4">图片类广告</option></select>
			</div>
			<div ng-switch="adType">
				<div id="type_img_wrap" ng-switch-when="4">
					<div class="upload_preview">
						<div class="form-input">
							<span>图片:</span><input type="file" id="cover_image_input">
						</div>
						<img id="cover_img" src="">
					</div>
					<div class="form-input"><span>跳转目标类型:</span><select id="type"><option value="1">文章</option><option value="2">要闻</option><option value="3">站内外某指定H5页面</option><option value="4">专题详情</option><option value="5">话题详情</option><option value="6">匿名吐槽详情</option></select></div>
					<div class="form-input"><span id="url_span">目标ID:</span><input type="text" id="url"></div>
				</div>
				<div ng-switch-default ng-controller="searchController">
					<table class="table"><caption>推荐列表</caption><tr><td>马治文</td><td>dasdsa</td><td><button class="glyphicon-up glyphicon onlyicon" title="上移"></button><button class="glyphicon-down glyphicon onlyicon" title="下移"></button><button  class="glyphicon-trash glyphicon onlyicon" title="删除"></button></td></tr></table><input type="text"><button ng-click="search()">搜索</button><table class="table"><caption>搜索结果列表</caption><tr ng-repeat="one in list"><td>{{one.name}}</td><td>{{one.city}}</td><td><button  class="glyphicon-plus glyphicon onlyicon" title="添加"></button></td></tr></table>
				</div>
			</div>
			
			
			<div class="form-input ad_pos_wrap"><span>所在Tab</span><select><option value="1">d</option></select><span class="ad_pos_txt">位置：第</span><input class="ad_pos_num" type="number" placeholder="推荐内容位置在第几个之后"><span id="ad_pos_change">片文章</span><span>之后</span></div>
				
			<div id="confirm-outer"><input id="commit_button" value="提交" type="submit"></div>
		</form>
  		
  		
	</div>
</div>

</body>
<script src="../js/lib/seajs/seajs/2.2.0/sea.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
</html>
