/******************************************************
初始化*/
*{
	padding: 0;
	margin: 0;
	border: none;
	font-family:"Microsoft YaHei","SimSun";
}
img{
	font-size: 0;
	line-height: auto;
}
ul{
	list-style: none;
}
li,p{
	
}
html{
	font-size: 14px;
}
body{
    line-height: 1.42857143;
    color: #333;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 2em auto 1em;
}
.h1, h1 {
    font-size: 2.571rem;
}
.h2, h2 {
    font-size: 2.142rem;
}
.h3, h3 {
    font-size: 1.714rem;
}
.h4, h4 {
    font-size: 1.285rem;
}
.h5, h5 {
    font-size: 14px;
}
.h6, h6 {
    font-size: 0.857rem;
}
/*
h4
{
	line-height: 30px;font-size: 16px;letter-spacing: 1px;

}*/
b, strong {
    font-weight: 700;
}
p {
    margin: 10px 0 ;
}
.gray_small{
	font-size: 14px;
	font-weight: 100;
	color:rgb(100,100,100);
	line-height: 22px;
}


.ul_disc{
	list-style-type: disc;
}
.ul_square{
	list-style-type: square;
}
.ul_inside{
	list-style-position: inside;
}
/******************************************************
a标签*/
a{
	text-decoration: none;
	color: black;
	cursor: pointer;

	display: inline-block;
}
a:hover{
	color: rgb(49, 187, 235) !important;
}

/******************************************************
字体图标 awesome*/
@font-face {
  font-family: 'FontAwesome';
  src: url('./font/fontawesome-webfont.eot?v=3.2.1');
  src: url('./font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('./font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('./font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('./font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
.awesome_icon{
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
*margin-right: .3em;
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
margin-top: 0;
}

/******************************************************
button 按钮*/
.button_style,button{
	font-size: 1em; 
	border-radius: 2px;
	background-color: transparent; 
	color: rgb(49, 187, 235);
	cursor: pointer;
	border: 1px solid rgb(49, 187, 235); 
	padding:0 2em;
	line-height: 2.5em;
}
button.s{
	height: 25px;
	padding:0 7px;
	font-size: 0.9em;
}
a.button_style:hover,button:hover{
	background-color:rgb(49, 187, 235);
	color: white !important;
}
button:enabled:active{
	background-color: #33b5d4;
	border-color: orange;position: relative;
}
button:disabled{
	background-color: rgb(229,229,229);
	color: gray;
	border-color: rgb(180,180,180);
}


/******************************************************
form input*/
/*
全行label
<label><span></span><input></label>
非label
<div><span></span><input></div>
*/
.for_inp_hor{
	display:inline-block ;
}
.form-input{
	display:block;margin-top: 20px;
}
.form-input>span{ 
/*label宽度*/
	width: 80px;
	text-align: center;
	display: inline-block; 
/*
垂直布局
	display: block;
*/
	 }
input[type="text"],input[type="password"]{

	text-indent:1em;
}
select{
text-indent:3px;

}
input,select{
	box-sizing:border-box;
	border: 1px solid rgb(192,192,192); 
/*高度*/
	height: 40px;
/*input宽度*/
	width: 300px;
}
textarea{
	width: 200px;border: 1px solid rgb(192,192,192);
}

input[type="radio"],input[type="checkbox"]{
/*input宽度*/
width: 20px;
cursor: pointer;
}
input:disabled{
	background-color: rgb(242,242,242);
}
/*radio */
.form-input>label{
	margin-left: 10px;
}
.form-input>label:hover,select,input[type="radio"],input[type="file"]{
	cursor: pointer;
}
input:enabled:hover,select:hover,textarea:hover{
	border-color:  #48bc7a;
}
select::-ms-expand { display: none; }
select{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("../../../../images/select_arrow.png") no-repeat scroll 45px center transparent;
background-size: 9px ;
padding-right: 260px;
}
option{text-indent: 7px;}



