@import url('../common/main.css');
#edit-area{width: 50%; margin: auto;}


.form-input>span{display: block;}
.form-input>input,.form-input>textarea{width: 100%;}
#choose-push-time{margin: 50px 0;}
#confirm-button{display: block;margin: auto;}

