@import url('../common/main.css');
#container{text-align: center;}
#login_outer{display: inline-block;margin-top:200px;}
#login_outer>label:nth-child(3){text-align: left;}
#login_name,#login_password{width: 250px;}
#save_outer{display:block;margin-top: 10px;}


