/******************************************************
init-style*/
*{
	padding: 0;
	margin: 0;
	border: none;
	font-family:"Microsoft YaHei","SimSun";
	font-size: 16px;
}
a{text-decoration: none;}
li{
	list-style: none;
}
h2{
	line-height: 1.7em;font-size: 20px;
}
h4{
	line-height: 1.7em;font-size: 16px;
	letter-spacing: 1px;
}
p{
	line-height: 1.6em;
}
/*
*/
@font-face {
  font-family: 'FontAwesome';
  src: url('./font/fontawesome-webfont.eot?v=3.2.1');
  src: url('./font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('./font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('./font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('./font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
.awesome_icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
/******************************************************
样式类*/
.dp_tb,.dp_tbtc,.dp_tbtrtc{
	display: table;
}
.dp_tbtrtc>*{
	display: table-row;
}
.dp_tc,.dp_tbtc>*,.dp_tbtrtc>*>*{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.dp_fl{
	display: flex;
	justify-content: center; 
	align-items: center; 
}
.dp_ib{
	display: inline-block;
}
/******************************************************
button 按钮*/
button{ 
	cursor: pointer;
	height: 30px;
	padding: 0 15px;
	background-color: transparent;
}
button.s{
	height: 25px;
	padding:0 7px;
	font-size: 0.9em;
}
button:hover{
	
}
button:enabled:active{
	
}
button:disabled{
	background-color: rgb(229,229,229);
	color: gray;border-color: rgb(180,180,180);
}


/******************************************************
form input*/
/*
全行label
<label><span></span><input></label>
非label
<div><span></span><input></div>
*/

.form-input{
	display:block;margin-top: 20px;
}
.for_inp_hor{
	display:inline-block ;
}
.form-input>span{ 
/*label宽度*/
	width: 80px;
	text-align: center;
	display: inline-block; 
/*
垂直布局
	display: block;
*/
 }
input[type="text"],input[type="password"]{
	text-indent:1em;
}
select{
text-indent:3px;
}
input,select,button{
	box-sizing:border-box;
	border: 1px solid rgb(125,125,125);
/*高度*/
	height: 42px;
/*input宽度*/
	width: 300px;
}
textarea{
	width: 200px;
	border: 1px solid rgb(192,192,192);
}
input[type="radio"],input[type="checkbox"]{
	/*input宽度*/
	width: 1em;
	height: 1em;
	cursor: pointer;
}
input:disabled{
	background-color: rgb(242,242,242);
}
/*radio */
.form-input>label{
	margin-left: 10px;
}
.form-input>label:hover,select,input[type="radio"],input[type="file"]{
	cursor: pointer;
}
input:enabled:hover,select:hover,textarea:hover{
}
select::-ms-expand { 
	display: none; 
}
select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url("../../../../images/select_arrow.png") no-repeat scroll 50px center transparent;
	background-size: 9px ;
}
option{
	text-indent: 7px;
}

/******************************************************
弹出窗口*/
.stop_scroll{
	/*position: fixed;*/ 
	overflow-y: scroll;
	width: 100%;
}
/*透明层*/
#popupwin_bac{
	position: fixed;
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	z-index: 999;
	
}
#popupwin{
	width: 30%;
	background-color: white;
	position: absolute;
	left: 35%; 
	top: 30%;
}
/*顶部*/
#popupwin>div:nth-child(1){
	height: 40px; 
	color: rgb(199,171,146);
	line-height: 40px;
	text-indent: 1em;
}
#popupwin>div:nth-child(1)>span{
	float: right;
	background: url("../../../../images/popup_x.png") center center /20px 20px no-repeat;
	display: inline-block;
	width: 40px;
	height: 100%; 
	cursor: pointer;
}
#popupwin>div:nth-child(2){
	box-sizing:border-box;
	height:90px;
	padding: 20px; 
	border-top: 1px solid rgb(199,171,146);
}
#popupwin>div:nth-child(3){
	border-top: 1px solid black;
	text-align: center;
	height: 40px;
}
#popupwin>div:nth-child(3)>button{
	height: 100%;
	background-color: transparent;
	color: rgb(199,171,146);
	border-radius: 0;
}
.popupwin_confirm>div:nth-child(3)>button{
	border:none;
	width: 50%;
}
.popupwin_confirm>div:nth-child(3)>button:nth-child(1){
	border-right:1px solid black;
}
#popupwin>div:nth-child(3)>button:hover{
	border-radius: 0 ;
	border: none ;
	background-color: rgb(219,219,219);
}
.popupwin_confirm>div:nth-child(3)>button:nth-child(1):hover{
	border-right: 1px solid black !important;
}
.popupwin_alert>div:nth-child(3)>button{
	width: 100%;
	border:none !important;
}