/******************************************************
init-style*/
*{
	padding: 0;margin: 0;border: none;
 font-family:"Microsoft YaHei","SimSun";
 font-size: 16px;letter-spacing: 0.5px;
 color: #333333;

}

img{font-size: 0;}
a{text-decoration: none;}
li{list-style: none;}
h2{line-height: 1.7em;font-size: 20px;}
h4{line-height: 1.7em;font-size: 16px;letter-spacing: 1px;}
p{line-height: 1.7em;}
.gray_small{font-size: 14px;
font-weight: 100;
color:rgb(100,100,100);
line-height: 22px;
}
/******************************************************
样式类*/
.dp_tb,.dp_tbtc,.dp_tbtrtc{
	display: table;
}
.dp_tbtrtc>*{
	display: table-row;
}
.dp_tc,.dp_tbtc>*,.dp_tbtrtc>*>*{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/******************************************************
button 按钮*/
button{ 
	border-radius: 2px;background-color:  #48bc7a;color:  white;cursor: pointer;
	border: 1px solid  #48bc7a; 
	height: 30px;
	padding: 0 15px;

}
button.s{height: 25px;padding:0 7px;font-size: 0.9em;}
button:hover{background-color: #33b5d4;border-color: orange;}
button:enabled:active{background-color: #33b5d4;border-color: orange;position: relative;left: 1px;top: 1px;}
button:disabled{background-color: rgb(229,229,229);color: gray;border-color: rgb(180,180,180);}


/******************************************************
form input*/
/*
全行label
<label><span></span><input></label>
非label
<div><span></span><input></div>
*/

.form-input{
	display:block;margin-top: 20px;
}
.for_inp_hor{
	display:inline-block ;
}
.form-input>span{ 
/*label宽度*/
	width: 80px;
	text-align: center;
	display: inline-block; 
/*
垂直布局
	display: block;
*/
	 }
input[type="text"],input[type="password"]{

	text-indent:1em;
}
select{
text-indent:3px;

}
input,select{
	box-sizing:border-box;
	border: 1px solid rgb(192,192,192); 
/*高度*/
	height: 40px;
/*input宽度*/
	width: 300px;
}
textarea{
	width: 200px;border: 1px solid rgb(192,192,192);
}

input[type="radio"],input[type="checkbox"]{
/*input宽度*/
width: 1em;
height: 1em;
cursor: pointer;
}
input:disabled{
	background-color: rgb(242,242,242);
}
/*radio */
.form-input>label{
	margin-left: 10px;
}
.form-input>label:hover,select,input[type="radio"],input[type="file"]{
	cursor: pointer;
}
input:enabled:hover,select:hover,textarea:hover{
	border-color:  #48bc7a;
}
select::-ms-expand { display: none; }
select{
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("../../../../images/select_arrow.png") no-repeat scroll 45px center transparent;
background-size: 9px ;
padding-right: 260px;
}
option{text-indent: 7px;}



