@charset "utf-8";
/*bootstrap 字体图标*/
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../../component/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
  src: url('../../../component/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../component/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../component/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../component/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}*/
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
/*时间选择器外部*/
.date-time-picker-outer{
 position: relative;
  display: inline-block;}
.date-time-picker-outer>button{
  border-radius: 0.5em 0 0 0.5em;
}
.date-time-picker-outer>input{
  border-radius:0 5px 5px 0; 
  background-color: rgb(250,250,250);width: auto; 
  text-align: center;
}


/*时间选择器*/
.dateTimePicker{width: 245px;text-align: center; border:1px solid black;border-radius: 5px; position: absolute; z-index: 1000;}
.dateTimePicker button{height: 30px;width: 50px; margin:0 5px;box-sizing:border-box;padding: 0;border: none;}
.dateTimePicker>div:nth-child(1){text-align: center;background-color: rgb(250,250,250); font-size: 20px;padding: 8px 0;}
.dateTimePicker>div:nth-child(1)>button{cursor: pointer;border-radius: 5px;background-color: transparent;color: rgba(0,0,0,0.3);}
.dateTimePicker>div:nth-child(1)>button:hover{color: rgba(0,0,0,1);}
.dateTimePicker>div:nth-child(1)>button>span{font-size: 18px;}
.dateTimePicker>div:nth-child(1)>span{font-size: 17px;}
.dateTimePicker>div:nth-child(2){background-color: rgb(250,250,250);}
.dateTimePicker>div:nth-child(2)>span{display: inline-block;width: 35px;height: 35px;line-height: 35px;border: 1px solid rgb(220,220,220);box-sizing:border-box;}
.dateTimePicker>div:nth-child(3){background-color: rgb(240,240,240);}
.dateTimePicker>div:nth-child(3)>span{display: inline-block;width: 35px;height: 35px;line-height: 35px;border: 1px solid rgb(250,250,250);box-sizing:border-box;cursor: pointer; }
.dateTimePicker>div:nth-child(4){background-color: rgb(250,250,250);padding: 10px 0;border-top: 1px solid rgb(220,220,220);}
.dateTimePicker select{width: 50px;
  margin:0 3px;
  line-height:1em;padding:0 3px;
  vertical-align: middle;
/*appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;*/
}






