/******************************************************
弹出窗口*/
.stop_scroll{
/*position: fixed;*/ 
overflow-y: scroll;
width: 100%;
}
#popupwin_bac{
	position: fixed;
	width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);
	left: 0;top: 0;z-index: 999;
}
#popupwin{width: 400px;  background-color: white;position: absolute; left: 40%; top: 30%;}
#popupwin>div:nth-child(1){
	height: 40px; 
	background-color:  #3c8dbc;
	color: white;
	line-height: 40px;
	text-indent: 1em;
}
#popupwin>div:nth-child(1)>span{float: right;
background: url("../../../../images/popup_x.png") center center /20px 20px no-repeat;
display: inline-block;
width: 40px; height: 100%; 
cursor: pointer;
}
#popupwin>div:nth-child(2){padding: 20px;}
#popupwin>div:nth-child(3){text-align: right;padding: 15px;}
#popupwin>div:nth-child(3)>button{margin:15px;}