@import url('../../../css/common/reset.css');
@import url('../../../css/common/common.css');
@import url('../../../v_1_3_9/css/1.0.0/article_v_type.css');
body{
	background-color: #f0f0f0;
	padding-bottom: 70px;
}
img{
	font-size: 0;
}
p,span,h1,h2,h3,h4,h5,h6{
	line-height: 1em;
}
.container{
	max-width: 700px;
	margin: auto;
}
.banner{
	position: relative;
	min-height: 130px;
	background-color: black;
}
.banner>img{
	width: 100%;
	opacity: 0.2;
	filter:Alpha(opacity=20);
}
.banner_layer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.banner_layer>img{
	width: 8.5%;
}
.banner_layer>h2{
	color: #c7ab92;
	font-size: 20px;
	margin-top: 8%;
}
.banner_layer>p{
	margin:3px auto 0;
	width: 63%;
	color: #f8f8f8;
	font-size: 14px;
	line-height: 20px;
}

/*文章块样式*/
.article_box{
	margin-top: 5px;
	background-color: white;
	padding-bottom: 18px;
}
.article_box>p{
	vertical-align: middle;
	border-bottom: 0.5px solid #f0f0f0;
	padding: 7px 16px;
	color: #666666; 
}
.article_box > p > * {
    vertical-align: middle;
}
.user_head{
	width: 20px;
}
.user_name{
	color: #333333;
	font-size: 12px;
	padding-right: 19px;
	background: url('../../../v_1_3_9/css/1.0.0/img/author-icon.png') no-repeat right center/15px 15px;
	margin-left: 5px;
}
.user_desc{
	font-size: 12px;
	margin-left: 4px;
    display: inline-block;
    width: 70%;
    height: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time{
	font-size: 10px;
	float: right;
margin-top: 5px;
}

.article_content{
	display: table;
	width: 100%;
	padding: 13px 16px 0 16px;
	box-sizing: border-box;
}
.article_content>div{
	display: table-cell;
	vertical-align: middle;
}
.article_text{
	
}
.article_text>h3{
	color: #333333;
	font-size: 16px;
	line-height: 22px;
}
.article_text>p{
	margin-top: 4px;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
}
.article_content>div:nth-child(2){
	width: 30%;
	padding-left: 18px;
}
.article_content>div:nth-child(2)>img{
	width: 100%;
}
.bottom_end{
	text-align: center;
	color: #666;
	margin-top: 10px;
}
