<div id="top">
	<span>一匡后台管理系统</span>
	<div id="top_right"><img id="login_user_head" src="http://cdn.e-quanta.com/headpic/default.png"><span id="login_user_nic_name">nickName</span></div>
	<div id="user_info_outer"><div><img id="user_info_head" src="http://cdn.e-quanta.com/headpic/default.png"><p id="user_info_name">nickName</p><p id="user_info_intro">vita</p></div><p><span id="user_info_gen">gender</span><span id="user_info_phone">mobile</span><span id="user_info_id">id</span></p><div><button id="sign_out">退出登录</button></div></div>
</div>
<div id="left">

</div>
<div id="right" ui-view ng-app="mainContent">

</div>


