@import url('../common/main.css');
.top{
	background: url('../../images/article_details/top_back.png') 0 0 / 100% 100% no-repeat;
}
/*中间区域*/
.center{
	margin-top: 10%;
	padding: 3% 0 3% 0;
	text-align: center;
	background-color: #ededed;
}
/*文章盒子*/
.article_box{
	position: relative;
	text-align: left;
	display: table;
	padding: 15px 9% 30px 30px;
	width: 100%;
	box-sizing: border-box;
}
/*右侧编辑区域*/
.edit_wrap{
	position: absolute;
	width: 35px;
	right: 0;
	top: 40%;
}
.edit_wrap>a{
	width: 100%;
	height: 75px;
}
.edit_wrap button{
	background-color: rgb(53,53,53);
	border: none;
	padding: 0;
	width: 100%;
	height: 75px;
	color: gold;
}
.edit_wrap>button:nth-child(1){
	margin-bottom: 3px;
}
/*文章顶部*/

.article_box>p{
	color: #8e8e8e;
}
/**/
#headPic{
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

/*标题*/
.article_box>h2{
	text-align: center;
	font-size: 1.6em;
	font-weight: 200;
	line-height: 1.5em;	
	margin: 8px auto;
	color: black;
}
/**************************************
文章样式
*/
#article_text_outer{margin: 20px 0;
	border-bottom: 1px solid rgb(242,242,242);
	border-top: 1px solid rgb(242,242,242);padding: 20px 0;
	
}

#article_text_outer blockquote{
	border-left: 10px solid #9b9b9b; 
	padding:12px; background-color: #f3f3f3;
	margin: 30px auto;
}
#article_text_outer blockquote p{margin:0;color: #9b9b9b;}

#article_text_outer img{
	display: block;margin: 15px auto;
	max-width: 100%;
}
#article_text_outer ul>li{color: red;list-style-type: square;}
#article_text_outer ul>li *{color: black;}
#article_text_outer ol>li{list-style-type: decimal;}
#article_text_outer li{margin-left: 2em;}
#article_text_outer p{
	color:#6f6f6f;
	margin: 13px auto;
	line-height: 33px;
}
strong{
	color:#4a4a4a;
	line-height:36px; 
	
}