@import url('../common/main.css');
body{
	background-color: rgb(242,242,242);
}
.top{
	background: url('../../images/article_details/top_back.png') 0 0 / 100% 100% no-repeat;
}

/*中间区域*/
.center{
	padding: 3% 0 3% 0;
	text-align: center;
	background-color: #ededed;
}





